[submodule "http://localhost:3000/eastabrooka/KicadFootprints.git"]
	path = http://localhost:3000/eastabrooka/KicadFootprints.git
	url = KicadFootprints
[submodule "KicadFootprints"]
	path = KicadFootprints
	url = git@github.com:eastabrooka/KicadFootprints.git
